name: CI

on:
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

      # Check out the code.
    - uses: actions/checkout@v1

      # Install the version of .NET that we're building against.
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301

      # Build the solution in Release configuration.
    - name: Build
      run: dotnet build -c Release
 
      # Run the test suite.
    - name: Test
      run: dotnet test -c Release --no-build

      # Generate the documentation for the SDK. The result is
      # in folder src/DockerSdk/html/.
    - name: Generate documentation
      uses: mattnotmitt/doxygen-action@v1
      with:
            working-directory: 'src/DockerSdk/'
            doxyfile-path: './Doxyfile'

      # Publish the documentation to GitHub Pages.
      # TODO: this will actually be a release step
    - name: Publish documentation
      uses: Cecilapp/GitHub-Pages-deploy@3.1.0
      env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
            build_dir: src/DockerSdk/html/
