# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - run: dotnet build --configuration Release
        
      - uses: mattnotmitt/doxygen-action@v1
        with:
            working-directory: 'src/DockerSdk/'
            doxyfile-path: './Doxygen'

      # Runs a set of commands using the runners shell
      - uses: Cecilapp/GitHub-Pages-deploy@3.1.0
        with:
            build_dir: src/DockerSdk/html/
